<section class="section">
  <div class="container">
    <h2 class="title is-2">SoftModel</h2>

    <div class="box">
      <h3 class="subtitle">
        softForm
      </h3>
      <ul class="block">
        <li>- emit NgForm</li>
        <li>- add .sumitted class</li>
        <li>- smooth scroll to first .ng-invalid element</li>
      </ul>
      <form
        class="block"
        (softForm)="save($event)"
      >
        <div class="field">
          <div class="control">
            <input
              name="first"
              class="input"
              ngModel
              required
            >
          </div>
        </div>
        <button class="button">Submit</button>
      </form>

      <div class="block">
        <p class="brick">- work fine in softModal</p>
        <button
          class="button"
          (click)="modal.open()"
        >Open modal</button>

        <soft-modal #modal>
          <modal-title>Required input #2</modal-title>
          <form
            (softForm)="save($event)"
            *ngIf="modal.isOpen"
          >
            <div
              class="field"
              *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]"
            >
              <div class="control">
                <input
                  name="first-{{ i }}"
                  class="input"
                  ngModel
                  [required]="i === 2"
                  placeholder="{{ i }}#"
                >
              </div>
            </div>
            <div class="buttons is-centered">
              <button class="button">Submit</button>
            </div>
          </form>
        </soft-modal>
      </div>

      <pre class="block">
      # html
      &lt;form <strong>(softForm)="save($event)"</strong>&gt;
        &lt;div class="field"&gt;
          &lt;div class="control"&gt;
            &lt;input name="first" class="input" ngModel required&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/form&gt;

      # ts
      save(form) &#123;
        if (form.invalid) &#123;
          return;
        &#125;
        // do after form valid
      &#125;
      </pre>

    </div>

    <div class="box">
      <div class="block">
        <h3 class="subtitle">
          softCompareBy
        </h3>
        <ul class="block">
          <li>- select compare with object's property</li>
          <li>- use simple directive instead of writing compare function</li>
        </ul>
        <div class="select">
          <select
            name="items"
            [(ngModel)]="selectedItem"
            [softCompareBy]="'id'"
          >
            <option
              [disabled]="true"
              [hidden]="true"
              [ngValue]="undefined"
            >-- select --</option>
            <option
              *ngFor="let item of items"
              [ngValue]="item"
            >
              {{ item.name }}
            </option>
          </select>
        </div>
      </div>
      <pre>
      # html
      &lt;div class="select"&gt;
        &lt;select
          name="items"
          [(ngModel)]="selectedItem"
          <strong
          >[softCompareBy]="'id'"</strong>
        &gt;
          &lt;option [disabled]="true" [hidden]="true" [ngValue]="undefined"&gt;-- select --&lt;/option&gt;
          &lt;option
            *ngFor="let item of items"
            [ngValue]="item"&gt;
            &#123;&#123; item.name &#125;<!-- -->&#125;
          &lt;/option&gt;
        &lt;/select&gt;
      &lt;/div&gt;

      # ts
      items = [&#123; id: 1, name: 'item 1' &#125;, &#123; id: 2, name: 'item 2' &#125;, &#123; id: 3, name: 'item 3' &#125;];
      selectedItem = &#123; id: 2, whatever: 'just matched with id' &#125;;
    </pre>
    </div>


    <div class="box">
      <h3 class="subtitle">
        softFileModel
      </h3>
      <ul class="block">
        <li>- ngModel for file input</li>
        <li>- [maxSize] validate max file size in MB</li>
        <li>- [autoClear] clear input after browse file, user can browse old file again, e.g. upload button</li>
        <li>- (loaded) get dataUri</li>
      </ul>

      <div class="block">
        <form
          #form="ngForm"
          (ngSubmit)="upload(form)"
          [class.submitted]="form.submitted"
        >
          [maxSize]="1" (MB)
          <input
            type="file"
            class="input"
            name="file"
            accept="image/*"
            softFileModel
            [(ngModel)]="file"
            [maxSize]="1"
            (loaded)="previewImage = $event"
            required
          />
          <p>File Name: {{ file?.name }}</p>
          <p>File Size: {{ file?.size / 1024 / 1024 }} MB</p>
          <div *ngIf="previewImage ">
            <img
              class="brick"
              src="{{ previewImage }}"
            >
          </div>
          <button class="button">Submit</button>
        </form>
      </div>
      <pre>
        &lt;<strong>input type="file"</strong>
          class="input"
          name="file"
          accept="image/*"
          <strong>softFileModel</strong>
          <strong>[(ngModel)]="file"</strong>
          <strong>[maxSize]="1"</strong>
          <strong>(loaded)="previewImage = $event"</strong>
          required/&gt;

        File Name: {{ file?.name }<!---->&#125;
        File Size: {{ file?.size / 1024 / 1024 }<!---->&#125; MB
        &lt;img *ngIf="previewImage" src="{{ previewImage }<!---->&#125;"&gt;
      </pre>
    </div>
  </div>
</section>