<section class="section">
  <div class="container">
    <h2 class="title is-2">SoftApiClient</h2>
    <ul class="block">
      <li>- Api client service with get, post, put, delete, multipart post, multipart put</li>
      <li>- Json parser</li>
      <li>- Date parser</li>
      <li>- Read paging metadata from response header</li>
      <li>- Global error handler</li>
    </ul>
    <div class="box">
      <h3 class="subtitle">
        GET
      </h3>
      <button
        class="button"
        (click)="getPosts()"
      >
        Get Posts
      </button>
      <div>
        {{ posts | json }}
      </div>
      <pre>
      <strong>this.apiClientService.get</strong>('/posts', &#123; userId: 1 &#125;, &#123;&#125;, true)
          .subscribe(posts => &#123;
            this.posts = posts; 
          &#125;);
    </pre>
    </div>

    <div class="box">
      <h3 class="subtitle">
        POST
      </h3>
      <div class="field">
        <input
          type="text"
          class="input"
          placeholder="title"
          #title
        >
      </div>
      <div class="field">
        <textarea
          class="textarea"
          placeholder="message"
          #message
        ></textarea>
      </div>
      <button
        class="button"
        (click)="createPost(title.value, message.value)"
      >
        Create New Post
      </button>
      <div>
        {{ newPost | json }}
      </div>
      <pre>
      <strong>this.apiClientService.post</strong>('/posts', &#123; title, body: message, userId: 1 &#125;, &#123;&#125;, true)
          .subscribe(post => &#123;
            this.newPost = post;
          &#125;);
    </pre>
    </div>

    <div class="box">
      <h3 class="subtitle">
        Auth
      </h3>
      <button
        class="button"
        (click)="login()"
      >
        Login
      </button>
      <button
        class="button"
        (click)="expire()"
      >
        Make Token Expire
      </button>
      <button
        class="button"
        (click)="requestPrivateApi()"
      >
        Private Api (Auto refresh token)
      </button>
      <button
        class="button"
        (click)="logout()"
      >
        Logout
      </button>
      <div class="block">
        {{ comment | json }}
      </div>
      <div class="box">
        <div>
          auth result: {{ auth | json }}
        </div>
        <div>
          logged in?: {{ isLoggedIn() }}
        </div>
        <div>
          access_token: {{ getAccessToken() }}
        </div>
      </div>
      <pre>
        # html
        &lt;button class=button
          (click)="login()"&gt;
          Login
        &lt;/button&gt;
        &lt;button class="button"
          (click)="logout()"&gt;
          Logout
        &lt;/button&gt;
        &lt;div&gt;
          auth result: {{ auth | json }<!---->}
        &lt;/div&gt;
        &lt;div&gt;
          logged in?: {{ isLoggedIn() }<!---->}
        &lt;/div&gt;
        &lt;div&gt;
          access_token: {{ getAccessToken() }<!---->}
        &lt;/div&gt;

        # ts
        login() &#123;
          <strong>this.authService.login$</strong>('uXXXXXX', 'pYYYYYY')
            .subscribe((auth: Auth) => &#123;
              this.auth = auth;
             &#125;);
        &#125;

        logout() &#123;
          <strong>this.authService.logout</strong>();
        &#125;

        isLoggedIn() &#123;
          <strong>return this.authService.isLoggedIn</strong>;
        &#125;

        getAccessToken() &#123;
          return <strong>this.authService.getAccessToken</strong>();
        &#125;
    </pre>
    </div>
  </div>
</section>