<section class="section">
  <div class="container">
    <h2 class="title is-2">SoftScroll</h2>

    <div class="box">
      <div class="block">
        <h3 class="subtitle">
          normal
        </h3>
        <div class="is-horizontal">
          <span class="brick">Point A</span>
          <button
            #buttonA
            class="button"
            (click)="goToB()"
          >Go to Point B</button>
        </div>
        <br><br><br>
        <div class="is-horizontal">
          <span class="brick">Point B</span>
          <button
            #buttonB
            class="button"
            (click)="goToA()"
          >Go to Point A</button>
        </div>
      </div>
      <pre>
        goToA() &#123;
          this.scrollService.scrollTo(this.buttonA.nativeElement);
        &#125;
        
        goToB() &#123;
          this.scrollService.scrollTo(this.buttonB.nativeElement);
        &#125;
      </pre>
    </div>

    <div class="box">
      <h3 class="subtitle">
        overflow
      </h3>
      <div
        #overflowContainer
        class="block _overflow"
      >
        <button
          class="button"
          (click)="goToInput()"
        >Go to Input</button>

        <br><br><br><br>
        <div class="control">
          <input
            #input
            type="text"
            class="input"
            value="input"
          >
        </div>
        <br><br><br><br>

        <button
          class="button"
          (click)="goToInput()"
        >Go to Input</button>
      </div>
      <pre>
        goToInput() &#123;
          this.scrollService.scrollTo(this.inputOverflow.nativeElement, this.overflowContainer.nativeElement);
        &#125;
      </pre>
    </div>

  </div>
</section>