<section class="section">
  <h2 class="title is-2">ModelHelperModule</h2>

  <div class="box">
    <h3 class="subtitle">
      BsDatepickerExtend
    </h3>
    {{ selectedDate }}
    <div class="control has-icons-right">
      <input class="input"
             type="text"
             name="date"
             bsDatepicker
             [(bsValue)]="selectedDate"
             [bsConfig]="{ dateInputFormat: 'D MMM YYYY', showWeekNumbers: false }"
             [bsDatepickerExtend]="{ time: 'EndOfDay' }"
             (ngModelChange)="selectedDate=$event">
      <span class="icon is-right has-text-dark">
        <i class="icon-calendar"></i>
      </span>
    </div>
    <pre>
      # html
      {{ selectedDate }<!---->}
      &lt;div class="control has-icons-right"&gt;
        &lt;input class="input"
          type="text"
          name="date"
          bsDatepicker 
          [(bsValue)]="selectedDate"
          [bsConfig]="{ dateInputFormat: 'D MMM YYYY', showWeekNumbers: false }"
          <strong>[bsDatepickerExtend]="{ time: 'EndOfDay' }"</strong>
          (ngModelChange)="selectedDate=$event"&gt;
        &lt;span class="icon is-right has-text-dark"&gt;
          &lt;i class="icon-calendar"&gt;&lt;/i&gt;
        &lt;/span&gt;
      &lt;/div&gt;

      # ts
      selectedDate = new Date();
    </pre>
  </div>

  <div class="box">
    <h3 class="subtitle">
      compareBy
    </h3>
    <div class="select">
      <select name="items"
              [(ngModel)]="selectedItem"
              compareBy="id">
        <option [disabled]="true"
                [hidden]="true"
                [ngValue]="undefined">-- select --</option>
        <option *ngFor="let item of items"
                [ngValue]="item">
          {{ item.name }}
        </option>
      </select>
    </div>
    <pre>
      # html
      &lt;div class="select"&gt;
        &lt;select
          name="items"
          [(ngModel)]="selectedItem"
          <strong>compareBy="id"</strong>&gt;
          &lt;option [disabled]="true" [hidden]="true" [ngValue]="undefined"&gt;-- select --&lt;/option&gt;
          &lt;option 
            *ngFor="let item of items"
            [ngValue]="item"&gt;
            {{ item.name }<!---->}
          &lt;/option&gt;
        &lt;/select&gt;
      &lt;/div&gt;

      # ts
      items = [&#123; id: 1, name: 'item 1' &#125;, &#123; id: 2, name: 'item 2' &#125;, &#123; id: 3, name: 'item 3' &#125;];
      selectedItem = &#123; id: 2, whatever: 'just matched with id' &#125;;
    </pre>
  </div>


  <div class="box">
    <h3 class="subtitle">
      fileModel
    </h3>
    {{ file?.name }}
    <input class="input"
           type="file"
           name="file"
           ngModel
           [maxSize]="10"
           [(fileModel)]="file"> * Max file size: 10 MB
    <pre>
      {{ file?.name }<!---->}
      &lt;input class="input"
        type="file"  
        name="file"
        ngModel
        [maxSize]="10"
        <strong>[(fileModel)]="file"</strong>&gt;
      * Max file size: 10 MB
    </pre>
  </div>
</section>