@import 'bulma';

// Container
$min-supported-screen-width: 1366px !default;
$vertical-scrollbar-width: 17px !default;
$main-container-width: $min-supported-screen-width - $vertical-scrollbar-width !default;

// Spacing for margin, padding
$space-small: 5px !default;
$space-normal: 10px !default;
$space-medium: 15px !default;
$space-large: 20px !default;

// Color
$accent: red !default;

body {
  position: relative;
  background: $background;
  min-height: 100vh;
  overflow-x: auto;
  word-break: break-word;
}

#header, #nav {
  min-width: $main-container-width;
}

#mainContainer {
  width: $main-container-width;
  margin: 0 auto;
}

#main {
  padding: $gap;
  margin-left: 0 !important;
  min-height: initial !important;
}

// Hidden directive
[hidden] { 
  display: none !important;
}

// Form Vidation
form.submitted input.ng-invalid,
form.submitted select.ng-invalid,
form.submitted textarea.ng-invalid,
form.submitted .file-label.ng-invalid,
input.ng-touched.ng-invalid,
select.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid {
  border: 1px solid $danger;
}
.is-required label:after {
  color: $danger;
  content: ' *';
  display:inline;
}

// reorder handle
.reorder-handle { 
  cursor: ns-resize; 
}

// no border for img with link in IE10
a img {
  border: 0;
}

// Hide HTML5 Up and Down arrows
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

// Stop Browser's Default Focus outline
:focus {
  outline: 0;
}
