// my theme component vars
$box-hightlight-color: $accent;

$radio-border-color: $accent;
$radio-background-color: $accent;

$completer-selected-row-background-color: $accent;
$completer-selected-row-color: $accent-invert;

$tab-highlight-color: $grey;

// bulma component vars
$box-radius: 0;

$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: $pink;
$navbar-dropdown-item-hover-color: $white;
$navbar-dropdown-item-hover-background-color: $pink;
// bulma no built-in vars
$navbar-dropdown-item-color: $text;

$button-color: $white;
$button-background-color: $blue;
$button-border-color: transparent;
$button-hover-color: $white;
$button-hover-border-color: transparent;
$button-focus-color: $white;
$button-focus-border-color: transparent;
$button-active-color: $white;
$button-active-border-color: transparent;
$button-disabled-background-color: $blue;
$button-focus-box-shadow-color: invalid-color;

$checkbox-checked-color: $blue;
$checkbox-checked-border-color: $blue;
$checkbox-checked-filled-background-color: $blue;

$input-hover-color: invalid-color;
$input-hover-border-color: invalid-color;
$input-focus-border-color: invalid-color;
$input-focus-box-shadow-color: invalid-color;

$modal-card-body-padding: 30px 50px;
$modal-card-head-background-color: $blue;
$modal-card-title-color: $white;
$modal-card-head-padding:	10px;
$modal-card-head-radius: 0;
$modal-card-title-size: $size-medium;
$modal-z: 1020;

$ngx-datatable-row-detail-background-color: $yellow;
